<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Register :)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add reCAPTCHA script -->
</head>
<body>
    <div class="container">
        <div class="title">Register User</div>
        <div class="content">
            <form action="{{ url_for('register') }}" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="name" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" name="phone" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" name="confirm_password" placeholder="Confirm your password" required>
                    </div>
                </div>
                <!-- reCAPTCHA widget -->
                <div class="g-recaptcha" data-sitekey="{{ Lf_xiYqAAAAADfKOA4ucLIwJaBNHPcbjV_8xg9O }}"></div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
             <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </div>
        <p class="back-link">
            <a href="{{ url_for('delete_account') }}">Delete Account</a>
        </p>
    </div>
</body>
</html>
