<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDP Flood</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>UDP Flood Attack</h2>
        <form action="{{ url_for('perform_udp_flood') }}" method="post">
            <input type="text" name="attack_time" placeholder="Attack (seconds)" required>
            <input type="text" name="packet_count" placeholder="Count" required>
            <input type="text" name="target_port" placeholder="port" required>
            <input type="text" name="target_ip" placeholder="Target" required>
            <button type="submit">Start Attack</button>
        </form>
    </div>
</body>
</html>

